// Place all the styles related to the Agendas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
  width: 100%;
}
thead tr {
  border-top: 1px solid #d6c7e3;
}
thead tr th {
  font-size: 14px;
}
tbody tr:hover {
  background-color: #eee8f3;
}
th, td {
  border-bottom: 1px solid #d6c7e3;
}
th {
  text-align: center !important;
  font-size: 14px;
  font-weight: bold;
}
td {
  text-align: center;
  padding: 5px 0 5px 0;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
.show, .edit, .destroy {
  border-radius:20%;
  -webkit-transition:all 0.3s ease-out;
  -moz-transition:all 0.3s ease-out;
  -ms-transition:all 0.3s ease-out;
  -o-transition:all 0.3s ease-out;
  transition:all 0.3s ease-out;
}
.show {
  background-color: #4caf4f;
}
.edit {
  background-color: #5894ef;
}
.destroy {
  background-color: #ff4c4c;
}
.show:hover {
  background-color: #fff;
  border: 1px solid #4caf4f;
}
.edit:hover {
  background-color: #fff;
  border: 1px solid #5894ef;
}
.destroy:hover {
  background-color: #fff;
  border: 1px solid #ff4c4c;
}
svg {
  height: 18px;
  width: 18px;
  vertical-align: middle;
}
svg .fill {
  fill: #fff;
}
.show:hover svg .fill {
  fill: #4caf4f;
}
.edit:hover svg .fill {
  fill: #5894ef;
}
.destroy:hover svg .fill {
  fill: #ff4c4c;
}
.tabela, #header {
  padding: 15px 0 15px 0 ;
}
#watercolor {
  width: 220px;
  height: 120px;
}
#logo {
  width: 170px;
  z-index: 95;
  position: absolute;
  top: 25px;
  left: 50px;
}
#titulo h1, #titulo h2 {
  font-family: 'Gloria Hallelujah', cursive;
  color: #9756a3;
  padding-top: 25px;
  text-shadow: 1px 2px  rgba(44,62,80,0.15);
}
.button_agenda {
  position:absolute;
  width: 150px;
  background-color: #9756a3;
  color: #fff;
  border: 0px;
  border-radius: 10px;
  box-shadow: 1px 2px rgba(44,62,80,0.15);
  font-weight: normal;
  -webkit-transition:all .3s ease-out;
  -moz-transition:all .3s ease-out;
  -ms-transition:all .3s ease-out;
  -o-transition:all .3s ease-out;
  transition:all .3s ease-out;
}
.button_agenda:hover {
  -webkit-transform:translate(0px,-5px);
  -moz-transform:translate(0px,-5px);
  -ms-transform:translate(0px,-5px);
  -o-transform:translate(0px,-5px);
  transform:translate(0px,-5px);
}
.button_agenda svg {
   margin: 0 8px 3px 0;
   width: 20px;
   height: 20px;
}
.button_agenda svg .fill {
    fill: #fff;
}
.button_agenda span {
    font-family: 'Gloria Hallelujah', cursive;
}
.new_agenda, .back_agenda {
  right: 128px;
}
.edit_agenda {
  right: 290px;
}
.show-list {
  display: block;
  margin-left: 50px;
  width: 30%;
  border: 1px solid #d6c7e3;
  border-radius: 10px;
}
.show-list ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.show-list ul li {
  border-bottom: 1px solid #d6c7e3;
}
.show-list ul li:last-child {
  border-bottom: 0px;
}
.show-list ul li p {
  margin: 0px;
  padding: 10px 0 10px 20px;
}